#warning_dialog {
    width: 300px;
}

.button-status-green {
    background-image: url('../images/green_circle.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.button-status-yellow {
    background-image: url('../images/yellow_circle.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.button-status-orange {
    background-image: url('../images/orange_circle.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.button-status-red {
    background-image: url('../images/red_circle.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#status_container {
    clear: both;
}


/*Puzzsolvers stuff*/
#poolcontainer {
    border: 1px solid #aaa;
    padding: 4px;
    cursor: default;
    background: #fff;
    width: 35%;
    float:left;
}

#puzzles_layout {
    border: 1px solid #aaa;
    padding: 4px;
    cursor: default;
    background:#fff;
    float: right;
    width: 63%;
}


.puzzle_container {
    border:1px solid #aaa;
    padding: 1ex;
    margin: 0.5ex;
    cursor: default;
    background:#fff;
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
}

.solver {
    padding: 1ex;
    font-weight: normal;
}


.activesolverpuzzle {
    border: 2px dashed #aaa;
}

.solver_active #take_a_break, .solver_active #current_puzzle, .solver_inactive #no_current_puzzle {
    display: inline;
}

.solver_inactive #take_a_break, .solver_active #no_current_puzzle, .solver_inactive #current_puzzle {
    display: none;
}

#poolcontainer .solver{
    display: inline-block;
}

/*Overview stuff*/

#adminDiv {
	display: inline;
}

#logout_span {
	display: inline;
	font-size: 10px;
}


.pi_icon{
	vertical-align: middle;
	cursor: pointer;
}


.round_container{
    border:1px solid #aaa;
    padding: 1ex;
    margin: 0.5ex;
    background: #fff;
    display: inline-table;
    vertical-align:top;
}

.meta_container{
    display: table-row;
}

.pi_container{
    display: table-row;
	margin-bottom: 0.25em;
}

.meta_answer, .meta_status, .meta_name, .meta_links {
    display: table-cell;
    vertical-align: bottom;
    font-weight: bold;
}

.pi_answer, .pi_status, .pi_name, .pi_links {
    display: table-cell;
    vertical-align: middle;
}

.activesolverpuzzle .pi_answer {
    border: 2px dashed #777;
    border-right: none;
}
.activesolverpuzzle .pi_status {
    border: 2px dashed #777;
    border-left: none;
    border-right: none;
}
.activesolverpuzzle .pi_name {
    border: 2px dashed #777;
    border-left: none;
    border-right: none;
}
.activesolverpuzzle .pi_links {
    border: 2px dashed #777;
    border-left: none;
}

.pi_answer{
    font-size: 16px;
    font-family: monospace;
}

.pi_status{
}

.pi_name{
    font-size: 16px;
    padding: 0.25ex;
}

.pi_links{
    min-width: 40px;
}

.status_New, .status_Needs_eyes, .status_Being_worked {
    opacity: 1.0;
}
.status_Solved > * {
    opacity: 0.33;
}
.status_Solved > .pi_answer {
    opacity: 1.0;
}

.missing_link {
    opacity: 0.2;
}


/*PB main stuff*/
.fixedwidthformat{
    font-family: monospace;
    font-size: 150%;
}

/* DnD avatar-specific settings */
.dojoDndAvatar                  {font-size: 75%; color: red;}
.dojoDndAvatarHeader td {padding-left: 20px; padding-right: 4px;  height: 16px;}
.dojoDndAvatarHeader    {background: #ccc;}
.dojoDndAvatarItem              {background: #eee;}
.dojoDndMove .dojoDndAvatarHeader       {background-image: url(images/dndNoMove.png); background-repeat: no-repeat;}
.dojoDndCopy .dojoDndAvatarHeader       {background-image: url(images/dndNoCopy.png); background-repeat: no-repeat;}
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader {background-image: url(images/dndMove.png); background-repeat: no-repeat;}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader {background-image: url(images/dndCopy.png); background-repeat: no-repeat;}

.dojoDndHandle {cursor: move;}
.dojoDndIgnore {cursor: default;}

.dj_a11y .dojoDndAvatar { font-size: 1em; font-weight:bold;}
.dj_a11y .dojoDndAvatarHeader td {padding-left:2px !important;}
.dj_a11y .dojoDndAvatarHeader td span {padding-right: 5px;}

/* Some basic jazz stolen from dojo.css, then modified */
body {
    overflow-x: hidden;
    font-family: Myriad,Helvetica,Tahoma,Arial,clean,sans-Serif; 
}

h1 {
        font-size: 1.5em; 
        font-weight: normal;
        line-height: 1.5em; 
        margin-top: 1em;
        margin-bottom:0.5em;
}

h2 { 
        font-size: 1.1667em; 
        font-weight: bold; 
        line-height: 1.286em; 
        margin-bottom:0.5em;
	margin-top:0.5em;
}

h3, h4, h5, h6 {
        font-size: 1em; 
        font-weight: bold; 
        line-height: 1.5em; 
 