%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"bodystart"}%
<body bgcolor="#ffffff" onload="el_onload();">
#PageTop
%TMPL:END%

%TMPL:DEF{"puzzleinfoscripts"}%
<!-- start defining puzzleinfoscripts -->
<script SRC="%PB_REL%/bin/pbjs.pl" TYPE="text/javascript"></script>
<script TYPE="text/javascript">
function el_onload() {
	 pbs_get_puzzle(['args__%TOPIC%','NO_CACHE'], [cb_get_puzzle], 'GET');
}

function setSelectedIndex(s, valsearch){
	// Loop through all the items in drop down list
	for (i = 0; i< s.options.length; i++){ 
		if (s.options[i].value == valsearch){
			// Item is found. Set its property and exit
			s.options[i].selected = true;
			break;
		}
	}
	return;
}

function cb_get_puzzle() {
 var argss=arguments[0].split('|');
 if(argss[0] == -1) {
   alert("error getting puzzle data from tracker.");
 } else {
  var puzzidstr = argss[0];
  var roundstr = argss[1];
  var uristr = argss[2];
  var commentstr = argss[3];
  var statusstr = argss[4];
  var xyzlocstr = argss[5];
  var answerstr = argss[6];
  var cursolversstr = argss[7];
  var solversstr = argss[8]; 
//alert("cb_get_puzzle: puzzid="+puzzidstr+" round="+roundstr+" uri="+uristr+" priority="+prioritystr+" status="+statusstr+" xyzloc="+xyzlocstr+" answer="+answerstr+" cursolvers="+cursolversstr+" solvers="+solversstr);
//document.statform.statusline.value = statusstr;
//status.value = statusstr;
//document.answerform.answer.value = answerstr;
if(cursolversstr.indexOf("%USERNAME%")>=0) {
  var activatebutton = document.getElementById("activatesolver");
  var inactivatebutton = document.getElementById("inactivatesolver");
  if(activatebutton && inactivatebutton) {
    inactivatebutton.style.display = "inline";
    activatebutton.style.display = "none";
  } else {
   alert("could not find activate and inactivate buttons");
  }
} else {
  var activatebutton = document.getElementById("activatesolver");
  var inactivatebutton = document.getElementById("inactivatesolver");
  if(activatebutton && inactivatebutton) {
    activatebutton.style.display = "inline";
    inactivatebutton.style.display = "none";
  } else {
   alert("could not find activate and inactivate buttons");
  }
}
var statuspuzzid = document.getElementById("statuspuzzid");
if(statuspuzzid) {
  statuspuzzid.value = puzzidstr;
} else {
  alert("statuspuzzid not found");
}
var activatepuzzid = document.getElementById("activatepuzzid");
if(activatepuzzid) {
  activatepuzzid.value = puzzidstr;
} else {
  alert("activatepuzzid not found");
}
var inactivatepuzzid = document.getElementById("inactivatepuzzid");
if(inactivatepuzzid) {
  inactivatepuzzid.value = puzzidstr;
} else {
  alert("inactivatepuzzid not found");
}
var answerpuzzid = document.getElementById("answerpuzzid");
if(answerpuzzid) {
  answerpuzzid.value = puzzidstr;
} else {
  alert("answerpuzzid not found");
}
var xyzlocpuzzid = document.getElementById("xyzlocpuzzid");
if(xyzlocpuzzid) {
  xyzlocpuzzid.value = puzzidstr;
} else {
  alert("xyzlocpuzzid not found");
}
var puzzid = document.getElementById("puzzid");
if(puzzid) {
  if(puzzid.type=="text") {
	puzzid.value = puzzidstr;
  } else {
	var textnd = document.createTextNode(puzzidstr);
	if(puzzid.firstChild) {
		puzzid.replaceChild(textnd,puzzid.firstChild);
	} else {
		puzzid.appendChild(textnd);
	}	
  }
} else {
  alert("puzzid element not found");
}
if(answerstr=="") {
  var enteranswerdiv = document.getElementById("enteranswerdiv");
  if(enteranswerdiv) {
    enteranswerdiv.style.display = "block";
  } else {
    alert("could not find answer entry div");
  }
} else {
  var finalanswerdiv = document.getElementById("finalanswerdiv");
  if(finalanswerdiv) {
    finalanswerdiv.style.display = "block";
  } else {
    alert("could not find final answer div");
  }

  var finalanswer = document.getElementById("finalanswer");
  if(finalanswer) {
  	var textnd = document.createTextNode(answerstr);
  	if(finalanswer.firstChild) {
  		finalanswer.replaceChild(textnd,finalanswer.firstChild);
  	} else {
  		finalanswer.appendChild(textnd);
  	}	
  } else {
    alert("finalanswer element not found");
  }
}

var status = document.getElementById("statusline");
if(status) {
	setSelectedIndex(status,statusstr);
} else {
  alert("status element not found");
}

//var priority = document.getElementById("priority");
//if(priority) {
//    if(priority.type=="text") {
//        priority.value = prioritystr;
//    } else {
//	if (prioritystr=="1"){
//		prioritystr = "Low";
//	}else if (prioritystr == "2"){
//		prioritystr = "Normal";
//	}else if (prioritystr == "3"){
//		prioritystr = "HIGH";
//	}
//	var textnd = document.createTextNode(prioritystr);
//	if(priority.firstChild) {
//		priority.replaceChild(textnd,priority.firstChild);
//	} else {
//		priority.appendChild(textnd);
//	}	
 //   }
//} else {
//  alert("priority element not found");
//}


var xyzloc = document.getElementById("xyzloc");
if(xyzloc) {
    if(xyzloc.type=="text") {
        xyzloc.value = xyzlocstr;
    } else { 
	var textnd = document.createTextNode(xyzlocstr);
	if(xyzloc.firstChild) {
		xyzloc.replaceChild(textnd,xyzloc.firstChild);
	} else {
		xyzloc.appendChild(textnd);
	}
    }
} else {
  alert("xyzloc element not found");
}
var cursolvers = document.getElementById("cursolvers");
if(cursolvers) {
     if(cursolvers.type=="text") {
        cursolvers.value = cursolversstr;
     } else {
	var textnd = document.createTextNode(cursolversstr);
	if(cursolvers.firstChild) {
		cursolvers.replaceChild(textnd,cursolvers.firstChild);
	} else {
		cursolvers.appendChild(textnd);
	}
     }
} else {
  alert("cursolvers element not found");
}

var comments = document.getElementById("comments");
if (comments){
	if (comments.type=="text"){
		comments.value = commentstr;
	}else{
		var textnd = document.createTextNode(commentstr);
		if (comments.firstChild){
			comments.replaceChild(textnd,comments.firstChild);
		}else{
			comments.appendChild(textnd);
		}
	}
}else{
	alert("comments element not found");
}

var solvers = document.getElementById("solvers");
if(solvers) {
     if(solvers.type=="text") {
        solvers.value = solversstr;
     } else { 
	var textnd = document.createTextNode(solversstr);
	if(solvers.firstChild) {
		solvers.replaceChild(textnd,solvers.firstChild);
	} else {
		solvers.appendChild(textnd);
	}
     }
} else {
  alert("solvers element not found");
}
 }
} 
//]]>
</script>
<!-- end defining puzzleinfoscripts -->
%TMPL:END%

%TMPL:DEF{"puzzleinfoelements"}%
<!-- start defining puzzleinfoelements -->
<table cellspacing="0" id="puzzleinfotable" cellpadding="0" class="twikiTable" rules="rows" border="1">
 <tr class="twikiTableEven twikiTableRowdataBgSorted1 twikiTableRowdataBg1">
  <td bgcolor="#edf4f9" valign="top" class="twikiTableCol0 twikiFirstCol twikiLast">Puzzle: <span id="puzzid">data not yet loaded</span></td>
 <td bgcolor="#edf4f9" valign="top" class="twikiTableCol0 twikiFirstCol twikiLast">
  <form method="get" action="%PB_REL%/bin/active.pl">
  <input type="hidden" name="puzzid" id="activatepuzzid"/>
  <input type="hidden" name="solver" value="%USERNAME%"/>
  <input type="hidden" name="returnurl" value="%SCRIPTURL{view}%/%WEB%/%TOPIC%"/>
  <input type="submit" name="%USERNAME%" value="%USERNAME% is working on this!" style="display: none" id="activatesolver"/>
  </form>
  <form method="get" action="%PB_REL%/bin/inactive.pl">
  <input type="hidden" name="puzzid" id="inactivatepuzzid"/>
  <input type="hidden" name="solver" value="%USERNAME%"/>
  <input type="hidden" name="returnurl" value="%SCRIPTURL{view}%/%WEB%/%TOPIC%"/>
   <input type="submit" name="%USERNAME%" value="%USERNAME% is no longer working on this!" style="display: none" id="inactivatesolver"/>
  </form>
 </td>
  <td bgcolor="#edf4f9" valign="top" class="twikiTableCol1 twikiLastCol">Status: 
  <form method="get" action="%PB_REL%/bin/status.pl">
  <input type="hidden" name="puzzid" id="statuspuzzid"/>
  <input type="hidden" name="solver" value="%USERNAME%"/>
  <input type="hidden" name="returnurl" value="%SCRIPTURL{view}%/%WEB%/%TOPIC%"/>
<!--  <input type="text" name="statusline" id="statusline" size="40" onchange="submit();"/>-->
  <select name="statusline" id="statusline" onchange="submit();">
	<option value="New">New</option>
	<option value="Being worked">Being worked</option>
	<option value="Needs eyes">Needs eyes</option>
	<option value="Solved">Solved</option>
  </select> 
 </form>
  </td>
 </tr>
 <tr class="twikiTableOdd twikiTableRowdataBgSorted0 twikiTableRowdataBg0">
  <td bgcolor="#ffffff" valign="top" class="twikiTableCol1 twikiLastCol">Locations: 
  <form method="get" action="%PB_REL%/bin/xyzloc.pl">
  <input type="hidden" name="puzzid" id="xyzlocpuzzid"/>
  <input type="hidden" name="solver" value="%USERNAME%"/>
  <input type="hidden" name="returnurl" value="%SCRIPTURL{view}%/%WEB%/%TOPIC%"/>
  <input type="text" name="xyzloc" id="xyzloc" size="40" onchange="submit();"/>
  </form>
  </td>
  <td bgcolor="#ffffff" valign="top" class="twikiTableCol1 twikiLastCol twikiLast"><div id="finalanswerdiv" style="display: none;">Confirmed answer: <span id="finalanswer"></span></div><div id="enteranswerdiv" style="display: none;">Report answer:   
<form method="get" action="%PB_REL%/bin/solve.pl">
  <input type="hidden" name="puzzid" id="answerpuzzid"/>
  <input type="hidden" name="solver" value="%USERNAME%"/>
  <input type="hidden" name="returnurl" value="%SCRIPTURL{view}%/%WEB%/%TOPIC%"/>
  <input type="text" size="12" name="answer" id="answer"/><input type="submit" name="Answer Confirmed!" value="Answer Confirmed!"/>
</form>
</div></td>
 </tr>
 <tr class="twikiTableEven twikiTableRowdataBgSorted1 twikiTableRowdataBg1">
  <td bgcolor="#edf4f9" valign="top" class="twikiTableCol0 twikiFirstCol twikiLast">Current solvers: <span id="cursolvers"></span></td>
  <td colspan="2" bgcolor="#edf4f9" valign="top" class="twikiTableCol1 twikiLastCol twikiLast">All Solvers: <span id="solvers"></span></td>
 </tr>
<tr class="twikiTableOdd twikiTableRowdataBgSorted0 twikiTableRowdataBg0">
	<td bgcolor="#ffffff" valign="top" colspan="2">PB Comments: <span id="comments"></span></td>
</tr>
</table>
<!-- end defining puzzleinfoelements -->
%TMPL:END%

%TMPL:DEF{"script:skintemplate"}%%IF{"defined raw" then='%TMPL:P{"script:skintemplate:viewraw"}%'}%%TMPL:P{"puzzleinfoscripts"}%%TMPL:END%

%TMPL:DEF{"content"}%%TMPL:P{"simpleheader"}%%TMPL:P{"puzzleinfoelements"}% %TEXT% %IF{"$raw='on'" then='%TMPL:P{"sig_textareabuttons"}%'}%%TMPL:END%

